{% extends 'corp/base.html' %}

{% block content %}
  <h2 align="center">Тексты в корпусе</h2>
  <h4 align="center">{{corp_name}}</h4>
  <br>
  <a href="{% url 'item_create' id_corp=id_corp %}?next={{ request.get_full_path|urlencode }}">
    <button type="button" class="btn btn-primary">Создать</button>
  </a>
  <a href="{% url 'home' %}">
    <button type="button" class="btn btn-warning">Назад</button>
  </a>
  {% if items %}
  <table class="table table-hover">
    <tr>
      <th class="text-center">Название текста</th>
      <th class="text-center">Автор текста</th>
      <th class="text-center">Тема текста</th>
      <th class="text-center">Дата текста</th>
      <th class="text-center">Дата загрузки</th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      {% if user.is_superuser %}
      <th class="text-center"></th>
      {% endif %}
    </tr>
    {% for item in items %}
    <tr>
      <td class="text-center">{{item.title}}</td>
      <td class="text-center">{{item.author}}</td>
      <td class="text-center">{{item.theme}}</td>
      <td class="text-center">{{item.date}}</td>
      <td class="text-center">{{item.created_date}}</td>
      <td class="text-center">
        <a href="{% url 'item_view_file' id_item=item.id_item %}?next={{ request.get_full_path|urlencode }}">
          <button type="button" class="btn btn-info">Просмотр текста</button>
        </a>
      </td>
      <td class="text-center">
        <a href="{% url 'analyze_select' id_item=item.id_item %}?next={{ request.get_full_path|urlencode }}">
          <button type="button" class="btn btn-success">Анализ текста</button>
        </a>
      </td>
      {% if user.is_superuser %}
      <td class="text-center">
        <a href="{% url 'item_delete' id_item=item.id_item %}?next={{ request.get_full_path|urlencode }}" >
          <button type="button" class="btn btn-danger">Удалить</button>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
