{% extends 'corp/base.html' %}

{% block login %}
  {% if form.errors %}
  <div class="alert alert-danger">
    <p>Неверное имя пользователя или пароль.</p>
  </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>

  <input type="submit" value="Войти" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
{% endblock %}
